<div class="header-container">
  <header>
    <div class="header-logo">
      <span>OSKER</span>
    </div>
    <div class="header-menu">
      <%= link_to "SUBMIT", new_playlist_path %>
      <%= link_to "SIGNOUT", destroy_user_session_path, method: :delete %>
    </div>
  </header>
</div>
